:root {
  --bg-color: white;
  --basic-color: black;
  --basic-blue: #81b3d2;
  --basic-grey: #eeeeee;
  --basic-white: white;
  --basic-dark-grey: #766357;
  --basic-light-grey: #f2f2f2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
  width: 1280px;
  min-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-transform: capitalize;
  background-color: var(--bg-color);
  color: var(--basic-color);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.header {
}
.navbar {
  position: relative;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  margin-top: 7px;
  justify-content: space-between;
}

.logo__link {
  position: absolute;
  top: 0px;
  justify-self: center;
  align-self: center;
  margin: 0;
  padding: 0;
  line-height: 0px;
}
.logo__img {
  width: 138px;
  height: 70px;
}
.navbar__list-left,
.navbar__list-right {
  margin: 0;
  padding: 15px 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: start;
  margin-left: 72px;
  margin-right: 69px;
  align-self: center;
}

.navbar__list-right {
  justify-items: end;
  margin-right: 72px;
  margin-left: 76px;
}

.navbar__item {
}
.navbar__link {
}
.promo {
}

.promo__title {
  background-image: url("../img/sedona/jpg/background_photo.jpg");
  background-repeat: no-repeat;
  /* height: 509px; */
  display: grid;
  grid-template-rows: 1fr min-content;
}

.promo__img {
  align-self: center;
  width: 456.65px;
  height: 350.88px;
  display: block;
  margin: 0 auto;
  margin-top: 70px;
}

.promo__shape {
  margin-top: 25px;
  height: 56px;
  background-image: url(../img/sedona/svg/Shape_mid_1.svg);
}

.promo__text {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  margin: 0;
  margin-top: 43px;
  padding: 0;
}
.main {
}
.features {
}
.features__header {
  display: none;
}
.features__title {
  line-height: 26px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 43px;
  margin-bottom: 51px;
}
.features__item {
  background-color: var(--basic-grey);
  display: grid;
  grid-template-columns: 400px 1fr;
}

.features__item_reverse {
  grid-template-columns: 1fr 400px;
}

.features__other {
  display: grid;
  grid-template-columns: 400px 400px 400px;
}

.features__item-column {
  padding-top: 47px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.features__item-column-other {
  background-color: var(--basic-grey);
  padding-top: 47px;
  padding-bottom: 54px;
}

.features__item-subtitle {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
}
.features__item-title {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 27px;
}
.features__item-text {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 23px;
}
.features__item-img {
}

.advises {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 82px;
}
.advises__header {
  display: none;
}

.advises__item {
  justify-self: center;
}
.advises__img {
  display: block;
  margin: 0 auto;
  width: 75px;
  height: 72px;
}
.advises__subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 28px;
}
.advises__text {
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 25px;
}
.search-apartment-section {
  margin-top: 58px;
  padding-bottom: 86px;
  background-image: url(../img/sedona/png/map.png);
  
}

.search-apartment-section__title-wrapper {
  background-color: var(--basic-white);
}

.search-apartment-section__title {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}
.search-apartment-section__text {
  text-transform: uppercase;
  line-height: 24px;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 37px;
  padding-bottom: 40px;
}
.search-apartment-form {
  
}
.search-apartment-form__fieldset {
  display: grid;
  margin: 0 auto;
  width: 568px;
  background-color: white;
  border: 0;
  padding: 0;
  padding-bottom: 47px;
}

.search-apartment-form__title {
  justify-self: center;
  align-self: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.search-apartment-form__title-wrapper {
  display: grid;
  width: 568px;
  padding: 30px 0;
  background-color: var(--basic-dark-grey);
}

.search-apartment-form__items-wrapper {
  justify-self: center;
  align-self: center;
  margin-top: 55px;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  row-gap: 30px;
  justify-content: start;
}

.search-apartment-form__item-label {
  display: grid;
  grid-template-columns: 112px 346px;
}

.search-apartment-form__item-num-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}

.search-apartment-form__item-label-num {
  display: grid;
  grid-template-columns: 112px 114px;
  justify-self: start;
}

.search-apartment-form__item-text {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  align-self: center;
}

.search-apartment-form__item-text_child {
  text-align: center;
}

.search-apartment-form__item-text_parents {
  align-self: center;
}

.search-apartment-form__item-label-num_child {
  justify-content: end;
}

.search-apartment-form__item-input-wrapper {
  display: grid;
  grid-template-columns: 1fr 30px;
  justify-content: center;
  background-color: var(--basic-light-grey);
}

.search-apartment-form__item-input {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background: none;
  border: 0;
  padding: 6px 13px;
}

.search-apartment-form__item-input:focus {
  outline: none;
}

.search-apartment-form__item-button {
  border: 0;
  cursor: pointer;
  padding: 0;
  margin: 0;
  margin-right: 6px;
  background-color: var(--basic-light-grey);
}
.search-apartment-form__item-img {
}
.search-apartment-form__item-button-minus {
  border: 0;
  cursor: pointer;
  background-color: var(--basic-light-grey);
  margin-bottom: 5px;
}

.search-apartment-form__item-input-wrapper-num {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  background-color: var(--basic-light-grey);
  justify-self: start;
}

.search-apartment-form__item-button-plus {
  border: 0;
  cursor: pointer;
  background-color: var(--basic-light-grey);
}

.search-apartment-form__item-input-num {
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-light-grey);
  border: 0;
  width: 50px;
  text-align: center;
}
.search-apartment-form__button-submit {
  width: 458px;
  
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  border: 0;
  cursor: pointer;
  margin: 0 auto;
  margin-top: 31px;
  padding: 16px 0;
}
.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding-bottom: 36px;
}
.phone {
  font-weight: 700;
  line-height: 26px;
  font-size: 21px;
  text-transform: uppercase;
  justify-self: start;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 0;
  margin-top: 23px;
  margin-left: 111px;
}
.phone__hashtag {
  text-align: center;
  margin: 0;
  padding: 0;
}
.phone__number {
  margin: 0;
  padding: 0;
  margin-top: 9px;
}
.social {
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  margin-top: 36px;
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue);
  border: 0;
}

.developed-by {
  justify-self: end;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 38px;
  margin-right: 138px;
  
}
.developed-by__text {
  text-transform: uppercase;
  line-height: 26px;
  justify-self: end;
  padding-right: 4px;
  align-self: center;
}
.developed-by__link {
  align-self: center;
}
.developed-by__img {
  opacity: 0.3;
  
}
